/* 1 */

:root {
  background: #fff;
}

* {
  color: #000;
}

h1 {
  color: blue;
}

.green {
  color: green;
}

#blue {
  color: blue;
}

section p {
  color: red;
}

section div {
  color: green;
}

.brown {
  background: brown;
  color: #fff;
}

ul > li {
  background: red;
}

.header-button + span {
  background: red;
}

.susid ~ p {
  background: blue;
}

.salo,
#bread {
  background-color: yellow;
}

/* 2 */

.first-task li:first-child {
  color: #fff;
}

.second-task li:first-child {
  color: yellow;
}

.third-task ul:last-child li:first-child {
  color: yellow;
}

.four-task li:last-child {
  background: yellow;
}

.five-task ul:last-child li:last-child {
  color: #fff;
}

.only-child-task div:only-child {
  color: red;
}

.seven-task p:first-of-type {
  background-color: red;
}

.eight-task p:last-of-type {
  background-color: red;
}

.nine-task .text-wrapper p:only-of-type {
  background-color: yellow;
}

/* 3 */

.lesson-three-task-one [href] {
  color: #fff;
}

.lesson-three-task-two [value] {
  color: yellow;
}

.lesson-three-task-three li[value='3'] {
  background-color: red;
}

.lesson-three-task-four button[class~='primary'] {
  background-color: blue;
}

.lesson-three-task-five button[class|='secondary'] {
  background-color: red;
}

.lesson-three-task-six li[class^='b'] {
  color: green;
}

.lesson-three-task-seven li[class*='on'] {
  background-color: #fff;
  color: green;
}

.lesson-three-task-eight span[class$='s'] {
  background-color: #fff;
  color: blue;
}

.lesson-three-task-nine h2::first-letter {
  color: red;
}

.lesson-three-task-ten p::first-line {
  background-color: yellow;
}

.lesson-three-task-eleven input::placeholder {
  background-color: red;
}

.lesson-three-task-twelve li::before {
  content: '➤';
}

.lesson-three-task-thirteen li::after {
  content: '➤';
}
